<div style="background-color: #89229B;
            width: 100%;
            heigth: 100vh;
            justify-content: center;
            align-items: center;"> 
  <h1 style="color: #FFFF;">Control Finance</h1>
</div>