<div>
  <h1>Recuperar conta</h1>
  <div 
    style="display: flex;
          flex-direction: column;"
  >
    <span>Olá {{ name }}!</span>
    <span>Para redefinar sua senha, clique no botão abaixo!</span>    
    <a href="http://localhost:3000/reset_password/{{token}}">
      <input 
        style="font: 400 13.3333px Arial;
              color: rgb(255, 255, 255);
              font-size: 16px;
              font-weight: bold;
              height: 25vh;
              width: 50vw;
              background: #89229B;
              border-radius: 5px;
              border-width: 0px;
              border-style: initial;
              border-color: initial;
              border-image: initial;
              cursor: pointer;
              outline: none;"
        type="button" 
        value="Redefinir Senha"
      />
    </a>     
  </div>
  <span>Token: <b>{{ token }}</span>
</div>