<div>      
  <div>
    <div>
      <div>
        <h1>
          Recuperar conta
        </h1>
        <h3>
          Olá {{nickname}}!
        </h3>
        <span>
          Para redefinar sua senha, clique no botão abaixo!
        </span>    
          <a href="http://localhost:3000/reset_password/{{token}}">
            <input type="button" 
              value="Redefinir Senha"
            />
          </a>     
        </div>
      </div>
    </div>
  </div>
</div>